<div class='animatedParent'>
    <div class="  animated"> 
       <!-- bounceInDown box -->
      <section>
        <p style="font-size: 33;">
          To eat is a necessity <br>
          But to eat intelligently is an art.
        </p>
      </section>
      <section style="text-align: center;" >
        <md-input-container>
            <label>Email</label>
            <input ng-model="ctrl.email" type="email">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="ctrl.password" type="password">
        </md-input-container>
        <md-button class="md-raised" ng-click="ctrl.register()">Register</md-button>
        <md-button class="md-raised" ng-click="ctrl.login()">Sign in</md-button>
      </section>
    </div>
  </div>
  <div class='animatedParent'>
    <div class="  animated " style="text-align: center;">
        <!-- bounceInUp box -->
      <section class="cellInfo">
        <img class="imgInfo" src="css\images\easy-touchscreen-interface-icon.png">
        <p>Friendly and easy to use interface</p>
      </section>
      <section class="cellInfo">
          <img class="imgInfo" src="css\images\527658-200.png">
          <p>Huge datebase containing lots of information on Diets</p>
      </section>
      <section class="cellInfo" >
        <img class="imgInfo" src="css\images\artificial_intelligence-512.png">
        <p>Using artificial intelligence to choose the best menu fit for you</p>
      </section>
    </div>
  </div>