<div class="menuPage">
    <section class="middleSection">
        <div class="floatMenu">
            <h2 class="MenuName">Menu {{ctrl.menuIndex +1}}</h2>
            <md-progress-circular ng-show="ctrl.loader" md-diameter="80"></md-progress-circular>
            <table class="menuTable" ng-show="!ctrl.loader"> 
                <tr>
                    <td>
                        <h3>Breakfast</h3>
                    </td>
                </tr>
                <tr ng-repeat="x in ctrl.selectedMenu.Breakfast">
                    <td>{{ x.Name }}</td>
                </tr>
                <tr>
                    <td>
                        <h3>Lunch</h3>
                    </td>
                </tr>
                <tr ng-repeat="x in ctrl.selectedMenu.Lunch">
                    <td>{{ x.Name }}</td>
                </tr>
                <tr>
                    <td>
                        <h3>Dinner</h3>
                    </td>
                </tr>
                <tr ng-repeat="x in ctrl.selectedMenu.Dinner">
                    <td>{{ x.Name }}</td>
                </tr>
            </table>
        </div>        
        <md-button class="md-raised" ng-click="ctrl.prevMenu()">Previous</md-button>
        <md-button class="md-raised" ng-click="ctrl.nextMenu()">Next</md-button>
        <md-button class="md-raised" ng-click="ctrl.editMenu()">Choose</md-button>
        <!-- <md-button class="md-raised" ng-click="ctrl.editMenu()">Edit</md-button> -->
    </section>
</div>