<div class="container">
    <section class="center-text">
        <h2 class="cursive cursive-header pAHeader">
            Personal Area
        </h2>   
    </section>

    <div class="divGraps">
        <section class="middleSection ">
            <canvas class="chart chart-line grap" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-series="ctrl.series">
            </canvas>
            <canvas class="chart chart-line grap" chart-data="ctrl.Golas.data" chart-labels="ctrl.Golas.labels" chart-series="ctrl.Golas.series">
            </canvas>    
        </section>
            
        <section class="center-text">
            <md-button class="md-raised enterBtn" ng-click="ctrl.progress()">enter Progress</md-button>
            <md-button class="md-raised enterBtn" ng-click="ctrl.changeGoal()">change Goal</md-button>
            <md-button class="md-raised enterBtn" ng-click="ctrl.editMenu()">Edit Menu</md-button>
        </section>
    </div>
</div>