<html>
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="css\images\Logo.jpg" />
        <title>FitEat</title>
    </head>

    <body ng-app="personalTrainer" ng-controller="mainController" class=" backgroundLandscape">
        <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>        

       <md-toolbar class="nav-bar">
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                  <img src="css\images\Logo.jpg" class="logo-image"> 
              </md-button>
      
              <a class="logo">FitEat</a>

              <section  ng-if="hasLogged()">
                <md-button  ng-href="#/updateweight">Update Weight</md-button>
                <md-button  ng-href="#/updategoal">Update Goal</md-button>
                <md-button  ng-href="#/main">Statistics</md-button>
                <a class="md-button md-ink-ripple" ng-click="editMenu()">View Menu</a>
              </section>

              <div flex></div>
              <md-button ng-if="!hasLogged()" ng-href="#/login">Login</md-button>
              <a class="md-button md-ink-ripple" ng-if="hasLogged()" ng-click="logout()">Log Out</a>
            </div>
          </md-toolbar>
          <div  ng-view ></div>
    </body>
    <script src="js/app.js"></script>
    <link rel="stylesheet" media="all" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/animations.css"/>
    <link rel="stylesheet" type="text/css" href="css/toaster.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</html>