@import "auth/loggedOutMain/loggedOutMain.scss";
@import "menu/menu.scss";
@import "editMenu/editMenu.scss";
@import "../node_modules/angular-material/angular-material.scss";
@import "loggedInMain/loggedInMain.scss";
//@import "external-scripts/animate.scss";
@import "auth/register/register.scss";
@import "update-weight/update-weight.scss";

/*html, body{
    background-image: url(../css/images/marble_background.png) !important;
    background-position: 0;
    background-size: 100%;
}*/
@font-face {
    font-family: 'Cursive';
    src:url('./fonts/cursivebeauty.woff2') format('woff2');
  }

  @font-face {
    font-family: 'SF';
    src:url('./fonts/sf-pro-display_light.woff2') format('woff2');
  }
.backgroundLandscape{
    background-image: url(../css/images/mt-1002-home-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.cursive{
    font-family: 'Cursive', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'SF', sans-serif;
}
.container{
    width: 65%;
    display: block;
    margin: 0 auto;
}
.extra-container{
    width: 50%;
    display: block;
    margin: 0 auto;
}
md-input-container {
    display: block;
}
.main-btn{
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    background-color: #58c56f;
    padding: 12px 40px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid green;
    font-family: 'Cursive';
    text-transform: capitalize;
    letter-spacing: 3px;
    display: inline-block;
   
}
.main-btn:hover{
    background-color: green;
     border: 1px solid darkgreen;
}