<div class="menuPage container">
        <section class="center-text">
                <h2 class="cursive cursive-header">
                  <span>Menu</span>
                </h2>
             
              </section>
    <section class="middleSection  extra-container">
        <div>
            <h2 class="MenuName center-text">Edit Menu</h2>
            <md-progress-circular ng-show="ctrl.loader" md-diameter="80"></md-progress-circular>
            <table class="menuTable" ng-show="!ctrl.loader">                
                    <tr>
                        <td colspan=4>
                            <h3>Breakfast</h3>
                        </td>
                    </tr>
                    <tr ng-repeat="food in ctrl.CountedMenu.Breakfast">
                        <td colspan=4>
                            <md-select ng-model="ctrl.CountedMenu.Breakfast[$index]" 
                                       ng-model-options="{trackBy: '$value.FoodID'}"
                                       ng-change="ctrl.onChange()"
                                       md-on-close="clearSearchTerm()"
                                       ng-disabled="!ctrl.editable"
                                       data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="ctrl.searchTerm"
                                           type="search"
                                           placeholder="Search for a food item.."
                                           class="demo-header-searchbox md-text"/>
                                </md-select-header>
                                <md-option ng-value="repFood" 
                                           ng-repeat="repFood in ctrl.FoodByMealType.Breakfast | filter:ctrl.searchTerm">
                                           {{repFood.Name}} {{!ctrl.editable ? (repFood.count * repFood.Grams) : ''}}
                                </md-option>
                            </md-select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            <h3>Lunch</h3>
                        </td>
                    </tr>
                    <tr ng-repeat="food in ctrl.CountedMenu.Lunch">
                        
                        <td colspan=4>
                                <md-select ng-model="ctrl.CountedMenu.Lunch[$index]" 
                                ng-model-options="{trackBy: '$value.FoodID'}"
                                ng-change="ctrl.onChange()"
                                md-on-close="clearSearchTerm()"
                                ng-disabled="!ctrl.editable"
                                data-md-container-class="selectdemoSelectHeader">
                         <md-select-header class="demo-select-header">
                             <input ng-model="ctrl.searchTerm"
                                    type="search"
                                    placeholder="Search for a food item.."
                                    class="demo-header-searchbox md-text"/>
                         </md-select-header>
                         <md-option ng-value="repFood" 
                                    ng-repeat="repFood in ctrl.FoodByMealType.Lunch | filter:ctrl.searchTerm">
                                    {{repFood.Name}}
                         </md-option>
                     </md-select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            <h3>Dinner</h3>
                        </td>
                    </tr>
                    <tr ng-repeat="food in ctrl.CountedMenu.Dinner">
                        <td colspan=4>
                                <md-select ng-model="ctrl.CountedMenu.Dinner[$index]" 
                                ng-model-options="{trackBy: '$value.FoodID'}"
                                ng-change="ctrl.onChange()"
                                ng-disabled="!ctrl.editable"
                                md-on-close="clearSearchTerm()"
                                data-md-container-class="selectdemoSelectHeader">
                         <md-select-header class="demo-select-header">
                             <input ng-model="ctrl.searchTerm"
                                    type="search"
                                    placeholder="Search for a food item.."
                                    class="demo-header-searchbox md-text"/>
                         </md-select-header>
                         <md-option ng-value="repFood" 
                                    ng-repeat="repFood in ctrl.FoodByMealType.Dinner | filter:ctrl.searchTerm">
                                    {{repFood.Name}}
                         </md-option>
                     </md-select>
                        </td>
                    </tr>
                </div>
                <tr>
                        <td colspan=4></td>
                </tr>
                <tr>
                    <td colspan=4>Acceptable Ranges</td>
                </tr>
                <tr>
                    <td>Protains</td>
                    <td>Fats</td>
                    <td>calories</td>
                    <td>carbohydrates</td>
                </tr>
                <tr>
                    <td ng-class="{exceedAlert: ctrl.exceedProteins}">
                        {{ctrl.nautritionGoals.minProteins}} - {{ctrl.nautritionGoals.maxProteins}}
                    </td>
                    <td ng-class="{exceedAlert: ctrl.exceedFats}">
                        {{ctrl.nautritionGoals.minFats}} - {{ctrl.nautritionGoals.maxFats}}
                    </td>
                    <td ng-class="{exceedAlert: ctrl.exceedCalories}">
                        {{ctrl.nautritionGoals.minCalories}} - {{ctrl.nautritionGoals.maxCalories}}
                    </td>
                    <td ng-class="{exceedAlert: ctrl.exceedCarbohydrates}">
                        {{ctrl.nautritionGoals.minCarbohydrates}} - {{ctrl.nautritionGoals.maxCarbohydrates}}
                    </td>
                </tr>
            </table>    
        </div>               
        <md-button ng-click="ctrl.Finish()">Finish</md-button>
        <md-button ng-click="ctrl.Edit()">{{ctrl.editable ? 'Done':'Edit'}}</md-button>
    </section>
</div>