$break:600px;
.sideBackground{
    height: 50%;
    width: 40%;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 0;
}
.box {
    width :400px;
    height:400px;
    background-color:#aaaa00;
    margin:150px auto;
}

.main{
    z-index: 1;
   /* position: fixed;
    top: 50%;
    top: 30%;
    left: 40%;
    margin-top: -9em;
    margin-left: -15em;*/
}

button{
    width: 110px;
    background: transparent !important;
    border: 1px solid black !important;
}

.imgInfo{
    height: 15%;
    top: 15%;
}

.cellInfo{
    width: 33%;
    height: 33%;
}
.center-text{
    text-align: center;
}
.divInfo{
    text-align: center;
    display: flex;
    width: 60%;
    top: 85%;
}

@media screen and (max-width: 370px){
    .cursive-header{
    font-size: 25px;
    }
}
@media screen and (max-width: 570px){
    .cursive-header{
    font-size: 34px;}
}
@media screen and (max-width: 740px){.cursive-header{
    font-size: 43px;}
}
@media screen and (max-width: 960px){.cursive-header{
    font-size: 52px;}
}
@media screen and (max-width: 1280px){.cursive-header{
    font-size: 61px;}
}
@media screen and (max-width: 1920px){.cursive-header{
    font-size: 70px;}
}

.cursive-header{

    color: white;
    position: relative;
    display: block;
    padding-top: 15px;
    margin: 0;
    height: 200px;
    .leftsize{
        position: relative;
        left: 115px;
    }
    .rightsize{
        position: relative;
        top: 90px;
        right: 105px;
    }
}
.mainP{
    @media screen and (max-width: $smallest){
        font-size: 15px;
    }
    @media screen and (max-width: $narrow){
        font-size: 17px;
    }
    @media screen and (max-width: $small){
        font-size: 19px;
    }
    @media screen and (max-width: $medium){
        font-size: 21px;
    }
    @media screen and (max-width: $wideToMedium){
        font-size: 23px;
    }
    @media screen and (max-width: $wide){
        font-size: 25px;
    }
    color: white;
    font-weight: lighter;
    width: 70%;
    margin: 0 auto;
}

$smallest: 390px;
$narrow: 570px;
$small: 740px;
$medium:960px;
$wideToMedium:1280px;
$wide: 1920px;

.circles{
    li{
        display: inline-table;
        overflow: hidden;
        @media screen and (max-width: $smallest){
            margin: 5px 5px;
        }
        @media screen and (max-width: $narrow){
            margin: 14px 14px;
        }
        @media screen and (max-width: $small){
            margin: 23px 23px;
        }
        @media screen and (max-width: $medium){
            margin: 32px 32px;
        }
        @media screen and (max-width: $wideToMedium){
            margin: 41px 41px;
        }
        @media screen and (max-width: $wide){
            margin: 50px 50px;
        }
        text-align: center;

        span{
            @media screen and (max-width: $smallest){
                max-width: 105px;
                font-size: 10px;
                margin-top: 15px;
            }
            @media screen and (max-width: $narrow){
                max-width: 132px;
                font-size: 12px;
                margin-top: 16px;
            }
            @media screen and (max-width: $small){
                max-width: 159px;
                font-size: 13px;
                margin-top: 17px;
            }
            @media screen and (max-width: $medium){
                max-width: 186px;
                font-size: 14px;
                margin-top: 18px;
            }
            @media screen and (max-width: $wideToMedium){
                max-width: 213px;
                font-size: 15px;
                margin-top: 19px;
            }
            @media screen and (max-width: $wide){
                max-width: 240px;
                font-size: 16px;
                margin-top: 20px;
            }
            display: flex;
            color: white;
            font-weight: lighter;
        }
        img{
            @media screen and (max-width: $smallest){
                width: 35px;
                height: 35px;
            }
            @media screen and (max-width: $narrow){
                width: 35px;
                height: 35px;
            }
            @media screen and (max-width: $small){
                width: 35px;
                height: 35px;
            }
            @media screen and (max-width: $medium){
                width: 35px;
                height: 35px;
            }
            @media screen and (max-width: $wideToMedium){
                width: 35px;
                height: 35px;
            }
            @media screen and (max-width: $wide){
                width: 100px;
                height: 100px;
                
            }
            position: relative;
            padding: 20px;
            border-radius: 100%;
            border: 3px solid white;
            background: rgba(255, 255, 255, 0.7);
        }
    }
}

